#!/usr/bin/make -f

package = $(shell dpkg-parsechangelog|grep ^Source|awk '{print $$2}')
version = $(shell dpkg-parsechangelog|grep ^Version|awk '{print $$2}'   \
    |sed -E 's/-.*//' \
)


override_dh_clean:
	dh_clean


override_dh_install:
	dh_install
	make tardist

tarball: clean
	tar --exclude=.git --exclude=debian    \
	    --transform='s,^.,$(package)-$(version),'\
            -czf ../$(package)_$(version).orig.tar.gz \
            .
	tar -tzf ../$(package)_$(version).orig.tar.gz


%:
	dh $@
